.container {
  background-color: #9EB4CC;
  border-style: solid;
  margin: 15px 15px 15px 15px;
  padding: 25px 25px 25px 25px;
  font-family: Tahoma;
}

#brady {
    float: none;
    
}


.list {
    font-size: 18px;
}

#title2 {
    font-size: 25px;
}

#title3 {
 
  font-size: 20px;
}

#quote {
    font-size: 18px;
}





